.lead__content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .lead__content {
    max-width: 928px;
  }
}

@media (min-width: 1280px) {
  .lead__content {
    max-width: 984px;
  }
}