.cover__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  position: relative;
  width: 288px;
  color: white;
  margin: 0;
  grid-column: 1;
  grid-row: 2;
  align-self: start;
  justify-self: center;
}

@media (min-width: 768px) {
  .cover__subtitle {
    width: 360px;
    font-size: 18px;
    line-height: 22px;
  }
}