.footer__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 32px;
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.4s ease;
  }

.footer__link:nth-child(5) {
    margin-bottom: 0;
}

.footer__link:hover {
opacity: 0.8;
}

@media (min-width: 768px) {
    .footer__link {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 0px;
      margin-right: 18px;
    }
}