.place__paragraph {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin-bottom: 0px;
  margin-top: 0;
  text-align: left;
}

.place__paragraph:nth-child(1) {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .place__paragraph {
    width: 352px;
  }
}

@media (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    width: 456px;
  }
  .place__paragraph:nth-child(1) {
    margin-bottom: 27px;
  }
}

@media (min-width: 1280px) {
  .place__paragraph {
    width: 484px;
  }
}