.lead__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin:0 16px 40px 16px;
}

@media (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin:0 64px 56px 64px;
  }
}

@media (min-width: 1024px) {
  .lead__subtitle {
    margin:0 192px 56px 192px;
  }
}

@media (min-width: 1280px) {
  .lead__subtitle {
    margin:0 320px 64px 320px;
  }
}