.place__link {
  padding-left: 0;
  margin-bottom: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.place__link:hover {
  opacity: 0.8;
}