.cover__overlay {
  padding-top: 62.5%;
  width: 100%;
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  max-width: 1184px;
  text-decoration: none;
}
  
.cover__overlay:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.4s ease;
  max-width: 1184px;
}
   
.cover__overlay:hover:before {
  opacity: 0.8;
}