.cover__overlay {
  max-width: 1184px;
  text-decoration: none;
  align-items: center;
  display: grid;
}

.cover__overlay:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.4s ease;
  max-width: 1184px;
}

.cover__overlay:hover:before {
  opacity: 0.8;
}

.cover__overlay:after {
  content: '';
  padding-top: 62.5%;
  width: 100%;
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  object-fit: cover;
  background-position: center;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}