.cover__background {
  padding-top: 62.5%;
  width: 100%;
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  object-fit: cover;
  background-position: center;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}