.cover__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  position: relative;
  width: 288px;
  display: flex;
  margin: 0 auto 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 32px;
    width: 560px;
  }
}